{% extends 'SpamIdentification/_sidebar.html' %}
{% load static %}

{% block page_name %}
Prevention from Spam Messages
<hr style="color: #cc6600;" />
{% endblock %}

{% block title %}Prevention_Page{% endblock %}


{% block content %}
<div class="container pos form-style">
  <p>
    Spam Messages are harmful in many ways. Spam messages are annoying and may also be highly dangerous espically scicne the spammers use these messages to exploit and take advantages of the vunerable users. So some of the basic ways to prevent from such messages are listed below:
    <ul>
      <li>Avoid  posting your email or phone numbers publicly as posting the them allows others to easily send spam messages to you.</li>
      <li>Avoid replyng to spam messages as the spammers will know that the user is active which increases the chances of the users to be targeted even more.</li>
      <li>Various spam filtering tools as well as ani virus softwares can also be used to scan the received emails and messages for malwares.</li>
      <li>Donot provide your personal or business informations to untrusted sites like various givewaways and contests as the spammers may monitor these sites to obtain the emails.</li>
      <li>Block the sender of the spam messages if you receive them.</li>
      <li>Donot click on any links or anything this else present in the spam messages.</li>

    </ul>
  </p>
</div>



{% endblock %}