{% extends 'SpamIdentification/_sidebar.html' %}
{% load static %}

{% block page_name %}
Enter Chat Room
<hr style="color: #cc6600;" />
{% endblock %}

{% block title %}Enter Chat Room{% endblock %}


{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="login-form bg-light mt-4 p-4">
            <form id="post-form" method="POST" class="row g-5">
                {% csrf_token %}
                <h4>Enter a Chat Room</h4>
                <div class="col-12">
                    <label>Enter Room Name</label>
                    <input type="text" name="roomname" class="form-control" id="roomname" placeholder="Room Name">
                </div>
                <div class="col-12">
                    <label>Enter User Name</label>
                    <input type="text" name="username" class="form-control" id="username"
                        placeholder="This name will be displayed in the chatroom.">
                </div>
                <div class="col-12">
                    <button class="btn btn-block float-end" style="color: white; background-color: #cc6600;"
                        type="submit">Enter Room</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}